@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    River Hills Rd<br />
    Eagleby QLD 4207
    <abbr title="Phone">P:</abbr>
    04 0347 8825
</address>

<address>
    <strong>Support:</strong> <a href="mailto:hadi.roudaki@gmail.com">hadi@gmail.com</a><br />
</address>
